<footer class="footer">
    <h5>Copyright © <%= new Date().getFullYear() %></h5>
</footer>
<script>

        const checkboxes = document.querySelectorAll('.checkbox');

// Add click event listeners to each checkbox
checkboxes.forEach(checkbox => {
    checkbox.addEventListener('click', function () {
        // Get the corresponding <h3> element for this checkbox
        const taskText = this.parentElement.querySelector('.task-text');
        // Toggle the 'completed' class on the <h3> element
        taskText.classList.toggle('completed');
    });
});

    </script>
</body>
</html>