<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav">
                <ul class="nav-links">
                    <li class="links">
                        <img src="/icons/today.svg" alt="">
                        <a href="/">Today' work</a>
                    </li>
                    <li class="links">
                        <img src="/icons/work.svg" alt="">
                        <a href="/works">Works</a>
                    </li>
                </ul>
                <a href="https://github.com/Ujjwalc7">
                    <button class="button-27">Github</button>
                </a>
            </div>
        </nav>
    </header>